<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wysjwxm.infrastructure.persistence.mybatis.TransferMapper">

    <insert id="insert" parameterType="com.wysjwxm.domain.transfer.Transfer"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO transfer (txn_no, request_no, from_user_id, to_user_id,
                              amount, currency, status)
        VALUES (#{txnNo}, #{requestNo}, #{fromUserId}, #{toUserId},
                #{amount}, #{currency}, #{status.code})
    </insert>

</mapper>
